*~
*.pyc
bin/*
__/*
COLONIZE*
res/tile*
cc94*
inc/SDL2*
inc/boost*
nbproject
core
dist/*

# Dependencies
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
