/core
/meta.py~
/randmap.py~
/unmadspack.py~
/meta.pyc
/main.tmp~
/main
COLONIZE
nbproject
asset

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
