
#        UNIT TYPES
########    id      attack  slots   icon    base    num1    num2    icon_expert
########        speed   combat  size    travel  item1   item2   cost    name
unittype	0	-	-	-	-	-	-	-	-	-	-	-	-	-	-	"None"
unittype	1	2	-	1	-	1	101	1	1	-	-	-	-	-	-	"Colonists"
unittype	2	2	-	1	-	1	74	1	1	16	20	-	-	-	102	"Pioneers"
unittype	3	2	-	1	-	1	74	1	1	16	40	-	-	-	102	"Pioneers"
unittype	4	2	-	1	-	1	74	1	1	16	60	-	-	-	102	"Pioneers"
unittype	5	2	-	1	-	1	74	1	1	16	80	-	-	-	102	"Pioneers"
unittype	6	2	-	1	-	1	74	1	1	16	100	-	-	-	102	"Pioneers"
unittype	7	2	-	1	-	1	78	1	1	-	-	-	-	-	106	"Missionaries"
unittype	8	2	2	2	-	1	75	1	1	17	50	-	-	-	103	"Soldiers"
unittype	9	4	1	1	-	1	76	1	1	-	-	10	50	-	104	"Scouts"
unittype	10	4	3	3	-	1	77	1	1	17	50	10	50	-	105	"Dragoons"
unittype	11	2	4	4	-	1	129	1	11	17	50	-	-	-	129	"Cont. Army"
unittype	12	4	5	5	-	1	130	1	11	17	50	10	50	-	130	"Cont. Cav."
unittype	13	2	5	5	-	1	126	1	13	17	50	-	-	-	126	"Regulars"
unittype	14	4	6	6	-	1	127	1	13	17	50	10	50	-	127	"Cavalry"
unittype	15	2	-	-	-	6	17	1	15	9	400	-	-	-	17	"Treasure"
unittype	16	2	7	5	-	1	10	1	16	16	40	-	-	192	10	"Artillery"
unittype	17	4	-	1	2	99	9	1	17	-	-	-	-	40	9	"Wagon Train"
unittype	18	4	-	2	2	99	6	2	18	16	40	-	-	128	6	"Caravel"
unittype	19	5	-	6	4	99	7	2	19	16	80	-	-	192	7	"Merchantman"
unittype	20	6	-	10	6	99	8	2	20	16	100	-	-	320	8	"Galleon"
unittype	21	8	8	8	2	99	15	2	21	16	120	-	-	256	15	"Privateer"
unittype	22	6	16	16	4	99	16	2	22	16	200	-	-	512	16	"Frigate"
unittype	23	5	24	24	6	99	128	2	23	-	-	-	-	-	128	"Man-O-War"
unittype	24	1	1	1	-	1	110	1	24	-	-	-	-	-	110	"Braves"
unittype	25	1	2	2	-	1	111	1	24	17	50	-	-	-	111	"Armed Braves"
unittype	26	4	2	2	-	1	112	1	24	-	-	10	50	-	112	"Mtd. Braves"
unittype	27	4	3	3	-	1	113	1	24	17	50	10	50	-	113	"Mtd. Warriors"


#         BUILDING TYPES
#########   id              cost-hammers    prod
#########   |   slots       |   cost-tools  |   cons
#########   |   |   item-prod-id|   min-colony  |   icon
#########   |   |   |   item-cons-id|   place-on-id |   name
buildtype	0	-	-	-	-	-	-	-	-	-	-	"None"
buildtype	1	24	-	-	64	-	3	17	-	-	1	"Stockade"
buildtype	2	36	-	-	120	100	3	1	-	-	2	"Fort"
buildtype	3	48	-	-	320	200	8	2	-	-	3	"Fortress"
buildtype	4	3	17	16	52	-	1	44	3	3	4	"Armory"
buildtype	5	3	17	16	120	50	8	4	6	6	5	"Magazine"
buildtype	6	3	17	16	240	100	8	5	9	6	6	"Arsenal"
buildtype	7	3	-	-	52	-	1	46	-	-	7	"Docks"
buildtype	8	3	-	-	80	50	4	7	-	-	8	"Drydock"
buildtype	9	3	19	7	240	100	8	8	6	6	9	"Shipyard"
buildtype	10	3	21	-	-	-	1	-	3	-	10	"Town Hall"
buildtype	11	3	-	-	64	50	4	-	-	-	11	"Town Hall unused2"
buildtype	12	3	-	-	120	100	8	-	-	-	12	"Town Hall unused3"
buildtype	13	3	-	-	64	-	4	44	-	-	13	"Schoolhouse"
buildtype	14	3	-	-	160	50	8	13	-	-	14	"College"
buildtype	15	3	-	-	200	100	10	14	-	-	15	"University"
buildtype	16	-	-	-	80	20	1	44	-	-	16	"Warehouse"
buildtype	17	12	-	-	-	-	1	-	-	-	17	"Fence"
buildtype	18	-	-	-	-	-	-	-	-	-	18	"Unused18"
buildtype	19	3	-	-	160	50	1	45	-	-	19	"Custom House"
buildtype	20	3	-	-	52	20	1	19	-	-	20	"Printing Press"
buildtype	21	3	-	-	120	50	4	20	-	-	21	"Newspaper"
buildtype	22	3	13	5	12	-	1	45	3	3	22	"Weaver's House"
buildtype	23	3	13	5	64	20	1	22	6	6	23	"Weaver's Shop"
buildtype	24	3	13	5	160	100	8	23	9	6	24	"Textile Mill"
buildtype	25	3	12	4	64	-	1	45	3	3	25	"Tobacconist's House"
buildtype	26	3	12	4	64	20	1	25	6	6	26	"Tobacconist's Shop"
buildtype	27	3	12	4	160	100	8	26	9	6	27	"Cigar Factory"
buildtype	28	3	11	3	12	-	1	45	3	3	28	"Rum Distiller's House"
buildtype	29	3	11	3	64	20	1	28	6	6	29	"Rum Distillery"
buildtype	30	3	11	3	160	100	8	29	9	6	30	"Rum Factory"
buildtype	31	3	-	-	400	100	16	-	-	-	31	"Capitol unused1"
buildtype	32	3	-	-	400	100	16	-	-	-	32	"Capitol Expansion unused2"
buildtype	33	3	14	6	12	-	1	45	3	3	33	"Fur Trader's House"
buildtype	34	3	14	6	56	20	1	33	6	6	34	"Fur Trading Post"
buildtype	35	3	14	6	160	100	6	34	9	6	35	"Fur Factory"
buildtype	36	3	19	7	12	-	1	44	3	3	36	"Carpenter's Shop"
buildtype	37	3	19	7	52	-	3	36	6	6	37	"Lumber Mill"
buildtype	38	3	20	-	64	-	3	43	3	-	38	"Church"
buildtype	39	3	20	-	176	100	8	38	6	-	39	"Cathedral"
buildtype	40	3	16	8	12	-	1	45	3	3	40	"Blacksmith's House"
buildtype	41	3	16	8	64	20	1	40	6	6	41	"Blacksmith's Shop"
buildtype	42	3	16	8	240	100	8	41	9	6	42	"Iron Works"
buildtype	43	3	-	-	-	-	-	-	-	-	43	"Trees 3"
buildtype	44	3	-	-	-	-	-	-	-	-	44	"Trees 2"
buildtype	45	3	-	-	-	-	-	-	-	-	45	"Trees 1"
buildtype	46	3	-	-	-	-	-	-	-	-	46	"Coast"
buildtype	47	1	-	-	64	-	1	44	-	-	47	"Stable"
buildtype	48	1	-	-	64	-	1	-	-	-	48	"Stable Warehouse"




