font 0
name "Libris ADF Std-Regular-15"
height 18
ascender 13
descender -3
pad 3 0

sprite 32
name " "
box 4 23 0 0
bearing 0 0
adv 5

sprite 33
name "!"
box 13 12 3 12
bearing 0 11
adv 4

sprite 34
name "\""
box 21 12 5 4
bearing 0 11
adv 5

sprite 35
name "#"
box 30 13 8 10
bearing 0 10
adv 8

sprite 36
name "$"
box 42 10 7 15
bearing 0 13
adv 7

sprite 37
name "%"
box 53 12 12 12
bearing 0 11
adv 12

sprite 38
name "&"
box 69 12 9 11
bearing 0 11
adv 9

sprite 39
name "'"
box 82 12 3 4
bearing 0 11
adv 3

sprite 40
name "("
box 89 12 4 14
bearing 0 11
adv 4

sprite 41
name ")"
box 97 12 4 14
bearing 0 11
adv 4

sprite 42
name "*"
box 105 12 5 5
bearing 0 11
adv 5

sprite 43
name "+"
box 114 15 8 8
bearing 0 8
adv 7

sprite 44
name ","
box 125 21 3 4
bearing 0 2
adv 3

sprite 45
name "-"
box 132 18 5 2
bearing 0 5
adv 5

sprite 46
name "."
box 141 20 3 3
bearing 0 3
adv 3

sprite 47
name "/"
box 148 12 5 11
bearing 0 11
adv 4

sprite 48
name "0"
box 156 12 8 11
bearing 0 11
adv 8

sprite 49
name "1"
box 168 12 3 11
bearing 0 11
adv 4

sprite 50
name "2"
box 176 12 7 11
bearing 0 11
adv 8

sprite 51
name "3"
box 188 12 7 12
bearing 0 11
adv 7

sprite 52
name "4"
box 199 12 8 11
bearing 0 11
adv 7

sprite 53
name "5"
box 210 12 7 11
bearing 0 11
adv 8

sprite 54
name "6"
box 222 12 8 11
bearing 0 11
adv 8

sprite 55
name "7"
box 234 12 7 11
bearing 0 11
adv 7

sprite 56
name "8"
box 4 38 7 11
bearing 0 11
adv 8

sprite 57
name "9"
box 16 38 8 12
bearing 0 11
adv 8

sprite 58
name ":"
box 28 41 3 8
bearing 0 8
adv 3

sprite 59
name ";"
box 35 41 3 10
bearing 0 8
adv 3

sprite 60
name "<"
box 42 41 8 8
bearing 0 8
adv 8

sprite 61
name "="
box 54 44 8 4
bearing 0 5
adv 9

sprite 62
name ">"
box 67 41 8 8
bearing 0 8
adv 8

sprite 63
name "?"
box 79 38 7 11
bearing 0 11
adv 7

sprite 64
name "@"
box 90 38 14 13
bearing 0 11
adv 14

sprite 65
name "A"
box 107 38 10 11
bearing -1 11
adv 9

sprite 66
name "B"
box 121 38 9 11
bearing 0 11
adv 9

sprite 67
name "C"
box 134 38 9 12
bearing 0 11
adv 9

sprite 68
name "D"
box 147 38 10 11
bearing 0 11
adv 10

sprite 69
name "E"
box 161 38 8 11
bearing 0 11
adv 8

sprite 70
name "F"
box 173 38 8 11
bearing 0 11
adv 7

sprite 71
name "G"
box 184 38 9 11
bearing 0 11
adv 9

sprite 72
name "H"
box 197 38 9 11
bearing 0 11
adv 9

sprite 73
name "I"
box 210 38 3 11
bearing 0 11
adv 3

sprite 74
name "J"
box 216 38 6 11
bearing -1 11
adv 5

sprite 75
name "K"
box 226 38 9 12
bearing 0 11
adv 9

sprite 76
name "L"
box 239 38 7 11
bearing 0 11
adv 7

sprite 77
name "M"
box 4 64 11 11
bearing 0 11
adv 12

sprite 78
name "N"
box 20 64 10 11
bearing 0 11
adv 10

sprite 79
name "O"
box 34 64 10 11
bearing 0 11
adv 10

sprite 80
name "P"
box 48 64 8 11
bearing 0 11
adv 8

sprite 81
name "Q"
box 60 64 10 12
bearing 0 11
adv 10

sprite 82
name "R"
box 74 64 9 12
bearing 0 11
adv 9

sprite 83
name "S"
box 87 64 7 11
bearing 0 11
adv 7

sprite 84
name "T"
box 97 64 10 11
bearing -1 11
adv 8

sprite 85
name "U"
box 110 64 9 11
bearing 0 11
adv 10

sprite 86
name "V"
box 124 64 9 11
bearing 0 11
adv 9

sprite 87
name "W"
box 137 64 14 11
bearing 0 11
adv 13

sprite 88
name "X"
box 153 64 10 11
bearing -1 11
adv 9

sprite 89
name "Y"
box 166 64 10 12
bearing -1 11
adv 9

sprite 90
name "Z"
box 180 64 8 11
bearing 0 11
adv 8

sprite 91
name "["
box 192 64 4 14
bearing 0 11
adv 4

sprite 92
name "\\"
box 200 64 5 11
bearing 0 11
adv 4

sprite 93
name "]"
box 208 64 3 14
bearing 0 11
adv 4

sprite 94
name "^"
box 216 64 6 6
bearing 0 11
adv 6

sprite 95
name "_"
box 225 77 10 1
bearing -1 -2
adv 8

sprite 96
name "`"
box 238 64 4 3
bearing 0 11
adv 4

sprite 97
name "a"
box 4 94 6 7
bearing 0 7
adv 7

sprite 98
name "b"
box 15 90 7 11
bearing 0 11
adv 7

sprite 99
name "c"
box 26 94 7 7
bearing 0 7
adv 6

sprite 100
name "d"
box 36 90 7 11
bearing 0 11
adv 7

sprite 101
name "e"
box 47 94 7 7
bearing 0 7
adv 7

sprite 102
name "f"
box 58 90 4 11
bearing 0 11
adv 4

sprite 103
name "g"
box 66 93 7 11
bearing 0 8
adv 7

sprite 104
name "h"
box 77 90 7 11
bearing 0 11
adv 7

sprite 105
name "i"
box 88 90 3 11
bearing 0 11
adv 3

sprite 106
name "j"
box 94 90 4 14
bearing -1 11
adv 3

sprite 107
name "k"
box 102 90 7 12
bearing 0 11
adv 7

sprite 108
name "l"
box 113 90 3 11
bearing 0 11
adv 3

sprite 109
name "m"
box 120 94 10 7
bearing 0 7
adv 11

sprite 110
name "n"
box 135 94 7 7
bearing 0 7
adv 7

sprite 111
name "o"
box 146 94 7 7
bearing 0 7
adv 7

sprite 112
name "p"
box 157 93 7 11
bearing 0 8
adv 7

sprite 113
name "q"
box 168 94 7 10
bearing 0 7
adv 7

sprite 114
name "r"
box 179 94 5 7
bearing 0 7
adv 5

sprite 115
name "s"
box 188 94 6 7
bearing 0 7
adv 6

sprite 116
name "t"
box 198 92 4 9
bearing 0 9
adv 4

sprite 117
name "u"
box 206 93 7 8
bearing 0 8
adv 7

sprite 118
name "v"
box 217 94 7 7
bearing 0 7
adv 6

sprite 119
name "w"
box 227 94 9 7
bearing 0 7
adv 9

sprite 120
name "x"
box 240 94 6 7
bearing 0 7
adv 6

sprite 121
name "y"
box 4 119 7 11
bearing 0 8
adv 6

sprite 122
name "z"
box 14 120 6 7
bearing 0 7
adv 6

sprite 123
name "{"
box 24 116 4 14
bearing 0 11
adv 4

sprite 124
name "|"
box 32 116 2 14
bearing 0 11
adv 3

sprite 125
name "}"
box 39 116 4 14
bearing 0 11
adv 4

sprite 126
name "~"
box 47 120 7 3
bearing 0 7
adv 7

